[submodule "lib/erc7579-implementation"]
	path = lib/erc7579-implementation
	url = https://github.com/erc7579/erc7579-implementation
[submodule "lib/FreshCryptoLib"]
	path = lib/FreshCryptoLib
	url = https://github.com/rdubois-crypto/FreshCryptoLib
